# DB
DB_NAME=social_media_aggregator
DB_PASSWORD_DEV=pa55word
DSN_DB_DEV=postgres://postgres:pa55word@monorepo-postgres-db:5432/social_media_aggregator?sslmode=disable
DSN_DB_DEV_LOCAL_MACHINE=postgres://postgres:pa55word@localhost:5454/social_media_aggregator?sslmode=disable